* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Inter';
}

body {
    /* width: 100vw; */
    height: 100vh;
    background-color: #f6f6fb;
    display: flex;
    justify-content: center;
}

/*---------- navbar ----------*/

.nav {
    width: 144rem;
    height: 12.8rem;
    padding: 2.4rem;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.navbar {
    width: 139.2rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 9.9rem;
    padding: 1.2rem 8rem;
}

.logo:hover {
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2.4rem;
}

/*---------- hero section ----------*/

.hero {
    width: 144rem;
    height: 96.8rem;
    display: flex;
    flex-direction: column;
    padding: 12rem 12rem 14rem 12rem;
}

.hero-upper {
    width: 120rem;
    height: 31.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.hero-upper-intro {
    width: 23.6rem;
    height: 4rem;
    border-radius: 99.9rem;
    padding: 0.8rem 2rem;
    background-color: #563AFF1A;
    text-align: center;
    color: #5E44FF;
    font-size: 1.6rem;
}

.hero-upper-slogan {
    width: 120rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.hero-upper-slogan > h1 {
    font-size: 8rem;
    font-weight: 800;
    text-align: center;
    color: #1A1A2C;
}

.hero-upper-slogan > h1 > span {
    color: #5E44FF;
}

.hero-upper-slogan > p {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    color: #1A1A2C;
}

.hero-upper-btn {
    width: 18.7rem;
    height: 5.6rem;
    border-radius: 1.6rem;
    background-color: #1A1A2C;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-family: 'Inter';
}

.hero-upper-btn:hover {
    cursor: pointer;
}

/*---------- tag selector ----------*/

a {
    font-size: 1.6rem;
    font-weight: 500;
    color: #1A1A2C;
    text-decoration: none;
}

a:hover {
    color: #5E44FF;
    text-decoration: underline;
body {
    width: 100vw;
    height: 100vh;
}


.feature-section {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
    gap: 25px;
    
}

.stream {
    height: 250px;
    width:350px;
    border-radius: 20px;
    background-color: #D7E5F6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}  

.blazing {
    height: 250px;
    width:350px;
    border-radius: 20px;
    background-color: #D8E0FC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}

.intuitive {
    height: 250px;
    width:350px;
    border-radius: 20px;
    background-color: #E8DCF6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.icon {
    margin-top: 30px;
    margin-left: 30px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;

}


h2 {
    margin: 10px 30px 10px 30px;
}

p {
    margin: 10px 30px 30px 30px;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;    
    justify-content: center;     
}

.contact-container {
    background: white;
    padding: 80px 120px 80px 120px;
    border-radius: 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 1199px;
    height: 666px;
    text-align: center;    
}

h2 {
    color: #1A1A2C;
    font-size: 44px;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

label {
    text-align: left;    
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #111;
    color: white;
    padding: 16px 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

button:hover {
    background-color: #222;
}

.contact-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;   
}

nav {
    display: flex;
    flex-basis: 25%;    
    flex-direction: row;
    justify-content: space-between;
   
}
